.auth-image {
  float: left;
  width: 200px;
  height: auto;
  margin-top: 10px;
  margin-right: 25px;
}

.navbar {
  margin-top: 10px;
  margin-bottom: 20px;
}

.work img {
  width: 100%;
  border: 0 none;
  opacity: 0.8;
}